version: "3.9"

services:
  auth-service:
    build: .
    container_name: auth-service
    ports:
      - "8083:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/authdb
      SPRING_DATASOURCE_USERNAME: authuser
      SPRING_DATASOURCE_PASSWORD: authpass
      AUTH0_AUDIENCE: https://my-api-identifier
      AUTH_SERVER_URI: dev-rhvn1b43rtt1hdap.us.auth0.com/
    depends_on:
      - auth-db
    networks:
      - auth-net

  auth-db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_USER: authuser
      POSTGRES_PASSWORD: authpass
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"
    networks:
      - auth-net
    volumes:
      - auth-data:/var/lib/postgresql/data

networks:
  auth-net:
    driver: bridge

volumes:
  auth-data:
